# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output
dist/
.build/
.nuxt/
.output/
out/

# Logs
logs
*.log
*.log.*

# Env
.env
.env.*.local

# Database
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/
.idea/
.DS_Store

# Generated
*.tsbuildinfo

# Coverage
coverage/
*.lcov

# Docker
docker-data/
